body {
  font-family: sans-serif;
}

input {
  font-size: 120%;
  outline: 0;
  padding: 5px 30px 5px 5px;
}

.search-wrapper {
  width: 50%;
}

.search-bar {
  position: relative;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
}

.search-submit {
  background: url(../img/icon.svg) center center no-repeat;
  background-size: 75%;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 100%;
  opacity: .75;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 0;
  width: 25px;
}

.search-submit:hover {
  opacity: 1;
}

.search-suggestions {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-suggestions li {
  cursor: default;
  letter-spacing: 0.03em;
  padding: 8px 10px;
}

.search-suggestions li:hover,
.search-suggestions .highlighted {
  background: #fafafa;
}
