html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: sans-serif;
}

input {
  font: 120% sans-serif;
  outline: 0;
}

.search-bar-wrapper {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .search-bar-wrapper {
    min-width: 480px;
    width: 40%;
  }
}

.search-bar-field {
  position: relative;
}

.search-bar-input {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  border-radius: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 42px 5px 5px;
  width: 100%;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 100%;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.search-bar-cancel {
  background-image: url(../img/cancel.svg);
  background-size: 40%;
  display: inline-block;
  right: 45px;
}

.search-bar-submit {
  background-color: #e5e5e5;
  background-image: url(../img/search.svg);
  background-size: 35%;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 0 20px;
  opacity: .8;
}

.search-bar-submit:hover {
  opacity: 1;
}

.is-focused .search-bar-input,
.is-focused .search-bar-submit {
  border-color: #ccc;
}

.search-bar-suggestions {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-bar-suggestions li {
  cursor: default;
  letter-spacing: 0.03em;
  padding: 12px 10px;
  border-bottom: 1px solid #e1e1e1;
}

.search-bar-suggestions li:last-child {
  border: none;
}

.search-bar-suggestions .highlighted {
  background: #f5f5f5;
}
