body {
  background-color: #fafafa;
  font: 100% sans-serif;
  margin: 15px;
}

input {
  font-size: 110%;
  outline: 0;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .container {
    margin-top: 0;
    width: 100%;
  }
}

.input {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.input-container {
  display: flex;
  position: relative;
}

.input.field--focused {
  border-color: #ccc;
}

.input.has-items {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.clear-button {
  background-color: transparent;
  background-image: url(./icons/clear.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 100%;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}

.items {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  list-style: none;
  margin: 0;
  max-height: 280px;
  overflow: auto;
  padding: 0;
  position: relative;
  top: -1px;
  user-select: none;
}

.item {
  cursor: pointer;
  height: 40px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.item--focused {
  background: #eee;
}

.item:last-child {
  border: none;
}
